          <div  class="card mb-3" >
             <div class="card-body">
                    <h5 class="card-title">Status: User {{session["username"]}}, role of {{session["role"] }}</h5>
        
        <div class="row">
            <div class="col">
                {% for category, message in get_flashed_messages(with_categories = true) %}
                    {% if category=="error" %}
                        <div class = "alert alert-error">
                    {% elif category=="warning"  %}
                        <div class = "alert alert-warning">
                    {% else %}
                        <div class = "alert alert-info">
                    {% endif %}
                        {{ message }}
                    </div>
                {% endfor %}
                {% with message = get_flashed_messages() %}
                {% if message %}
                {% else %}
                    <div class = "alert alert-info">
                         &nbsp;
                    </div>
                {% endif %}
                {% endwith %}
            </div> <!--  class="col"> -->
        </div> <!-- class="row" -->
    </div>      
</div>


