{% extends "base.html" %}
{% block content  %}
<div class="container">   
  {% include "title.html" %}
  <div class="row">
      <div class="col">
        <h3>Add a Certificate Record</h3>
      </div>
  </div>
  <form  class="was-validated" action = "{{ request.path }}" method = "post">
        <div class="row  mb-3">
            <div class="col-sm-4">
              <div class="form-floating mb-3">
                <input required type = "text" 
                  id = "url"  
                  name = "url"
                  {% if addhelp["url"] %}
                  class="form-control is-invalid" 
                  {% else %}
                  class="form-control"
                  {% endif %}
		              value = "{{cert['url']}}"
		              placeholder = "example.com" />
	              <label  for = "url">Domain name
                         <font color="red">{{addhelp['url']}}</font>
                 </label>
                 <div class="valid-feedback">Valid</div>
                 <div class="invalid-feedback">The full domain eg example.com</div>
               </div> <!-- floating input-->
            </div> <!-- col -->
        </div> <!-- row -->
        <div class="row mb-3 ">
          <div class="col-sm-4">
            <div class="form-floating mb-3">
              <input required type = "text" 
                    id = "port" 
                    name = "port"
                  {% if addhelp['port'] %}
                    class="form-control is-invalid"
                    {% else %}
                    class="form-control"
                    {% endif %}
		                value = "{{cert['port']}}"
                    placeholder = "443" />
              <label for = "port">Port 
                     <font color="red">{{addhelp['port']}}</font>
              </label>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">The required port which is usually 443</div>
              </div> <!-- form-float -->
            </div> <!-- col-->
        </div> <!-- row -->
        <div class="row mb-3">
           <div class="col-sm-8">
             <div class="form-floating mb-3">
                <input  required type = "text" 
                    id = "contact" 
                    name = "contact"
                    placeholder = "me@example.com"
                    value = "{{cert['contact']}}"
                    class="form-control">
                    <label for = "contact">
                  Contact</label>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">A valid email or comma separated list of addreses</div>
               </div> <!-- form-float -->
             </div> <!--- col -->
           </div> <!-- row -->
           <div class="row">
              <div class="col-sm-2 mb-3">
               <input type = "submit" 
                     class="btn btn-primary" 
                     value = "Add" />
              </div> <!-- col -->
      </form>
      <form method="get" 
            action="{{url_for('cert_blueprint_routes.index')}}">
                  <div class="col-sm-2 mb-3">
                   <input  type = "submit" 
                           class="btn btn-primary" 
                           value = "Home"/>   
                  </div> <!-- col -->
       </form>
         </div> <!-- row -->
</div> <!-- class=container -->      
{% endblock content  %}
