{% extends "base.html" %}
{% block content  %}
<div class="container">
{% include "title.html" %}
            <form   name="searchform"
                    action="{{url_for('cert_blueprint_routes.search')}}"
                    method="get"
                    />

            <div class="row">
                <div class="col-sm-1">
                        <button type="submit" 
                            class="btn btn-primary"
                             >
                             Search
                        </button>
                </div> <!-- class="col"-->
                <div class="col-sm-3 mb-3">
                    <input type="text" 
                        name="url"
                        class="form-control"
                        placeholder=" Domain eg example.com or example* "
                        size="5"
                        maxlength="80"
                    />
                </div> <!-- class="col" -->
                <div class="col-sm-3  mb-3"/>
                    <input type="text" 
                         name="port"
                         class="form-control"
                         placeholder="Port number default 443 or wildcard"
                         maxlength="8"
                    />
                 </div> <!-- end col -->
            <div> <!-- class="row" -->
            </form>
        <div class="row">
            <div class="col">
                        <form  id="AdminAction"
                               method = 'get'>
                            <button
                                form="AdminAction"
                                formaction="{{ url_for('cert_blueprint_routes.add') }}"
                            {% if session["role"] != 'admin' %}
                                disabled
                            {%endif%}
                                type='submit'
                                class="btn btn-primary"
                                id = "add"
                                name = "add">
                            Add
                            </button>
                            <button  
                                form="AdminAction"
                                formaction="{{ url_for('users_blueprint_routes.index') }}"
                            {% if session["role"] != 'admin' %}
                                disabled
                            {% endif %}
                                type='submit'
                                class="btn btn-primary"
                                id = "user"
                                name = "user">
                            User Management
                            </button>
                            <button  
                                form="AdminAction"
                                formaction="{{ url_for('cert_blueprint_routes.checkall') }}"
                            {% if session["role"] != 'admin' %}
                                disabled
                            {% endif %}
                                type='submit'
                                class="btn btn-primary"
                                id = "checkall"
				formmethod="post"
                                name = "checkall">
                                Recalculate DaysToGo
                            </button>
                        </form>
            </div> <!-- class="col" -->
        </div> <!-- class="row"-->
        {% if result %}
        <div class="row">
        <h3>Search Results</h3>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-primary table-condensed">
                        <thead>
                            <tr>
                               <th>Days</th>
                               <th>Expiry</th><td></td>
                               <th>Grade</th>
                               <th>Domain</th>
                               <th>Port</th>
                               <th>Contact</th>
                            </tr>
                        </thead>
         
                <tbody>
                       {% for r in  result %}
                       <tr class="table-success">
                          <td>{{ r['daysToGo'] }}</td>
                    {% if r['status'] == 'down' %}
                          <td>{{ r['expiryDate'] }}</td>
                          <td><b><font color="red">down</font></b></td>
                    {% else %}
                          <td>{{ r['expiryDate'] }}</td>
                          <td></td>
                    {%endif%}
                          {% if  r['exposed'] == True %}
                          <td>{{r['ssllabs']['grade']}}</td>
                          {% else %}
                          <td>n/k</td>
                          {% endif %}
                          <td>{{ r['url'] }}</td>
                          <td>{{ r['port'] }}</td>
                          <td>{{ r['contact'] }}</td>
                       </tr>
		       {% endfor %}
                </tbody>
                </table>
            </div> <!-- class="col" -->
       </div> <!-- class="row -->
        <div class="row">
            <div class="col">
                <form  action="{{ url_for('cert_blueprint_routes.edit') }}"
                       method="get">
                        <input  name='url' 
                                type='hidden'
                                value="{{result[0]['url']}}"/>
                        <input  name='port'
                                type='hidden'
                                value="{{result[0]['port']}}"/>
                        <input  name='contact'
                                type='hidden'
                                value="{{result[0]['contact']}}"/>
                        <button 
				{% if session["role"] != 'admin' or result|length > 1   %}
                                disabled
                            {% endif %}
                                class="btn btn-primary"
                                value="edit"
                                name="edit">
                               Edit 
                        </button>
                        <button
				{% if session["role"] != 'admin' or result|length > 1 %}
                                disabled
                            {% endif %}
                                class="btn btn-warning"
                                formaction="{{url_for('cert_blueprint_routes.delete')}}"
                                type="submit"
				formmethod="post"
                                value="delete_button"
                                name="delete_button"/>
                               Delete 
                        </button>
                        <button
				{% if session["role"] != 'admin' or result|length > 1 %}
                                disabled
                            {% endif %}
                                class="btn btn-warning"
                                formaction="{{url_for('cert_blueprint_routes.check')}}"
                                type="submit"
				formmethod="post"
                                value="check_button"
                                name="check_button"/>
                                Check
                        </button>
                        <button
				{% if session["role"] != 'admin' or result|length > 1 %}
                                disabled
                            {% endif %}
                                class="btn btn-warning"
                                formaction="{{url_for('cert_blueprint_routes.mail')}}"
                                type="submit"
				                formmethod="post"
                                value="mail_button"
                                name="mail_button"/>
                                Mail
                        </button>
                        <button
				{% if session["role"] != 'admin' or result|length > 1 %}
                                disabled
                            {% endif %}
                                class="btn btn-warning"
                                formaction="{{url_for('cert_blueprint_routes.grade')}}"
                                type="submit"
				                formmethod="post"
                                value="grade_button"
                                name="grade_button"/>
                                Grade
                        </button>
                        </form>
            </div> <!-- class="col" -->
        </div> <!-- class="row -->
        {% endif %}
        <div class="row mt-3">
        <h3>List All</h3>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-primary table-condensed table-bordered">
                        <thead>
                            <tr>
                               <th>Days</th>
                               <th>Expiry</th>
                               <th>Grade</th>
                               <th>Domain</th>
                               <th>Port</th>
                               <th>Contact</th>
                            </tr>
                        </thead>
         
                        <tbody>
                             {% for cert in certs %}
                             <tr class="table-success">
			       <td>{{ cert['daysToGo'] }}</td>
			       <td>{{ cert['expiryDate'] }}</td>
                   {% if  cert['exposed'] == True %}
                            <td>{{cert['ssllabs']['grade']}}</td>
                            {% else %}
                            <td>n/k</td>
                    {% endif %}
                               <td>{{ cert['url'] }}</td>
                               <td>{{ cert['port'] }}</td>
                               <td>{{ cert['contact'] }}</td>
                            </tr>
                             {% endfor %}
                        </tbody>
                </table>
            </div> <!-- class="col -->
        </div> <!-- class="row -->
        <div class="row">
            <div class="col">
                <form action="{{url_for('login_blueprint_routes.logout')}}"
                    method="get"
                    id="logout"
                    />
                    <button value="logout" 
                        class="btn btn-primary"
                     >
                    Logout
                    </button>
                </form>
            </div> <!-- class="col" -->
        </div> <!-- class="row  -->    
</div> <!-- container -->
{% endblock %}
