{% extends "base.html" %}
{% block content  %}
<div class="container">
    <h1>FreeCertiffy</h1>
    <h2>{{ header }} </h3>
        {% include "message.html" %}
        <form action={{url_for("users_blueprint_routes.submituser")}} method="POST">
            <div class="mb-3 mt-3">
                <table id="data" class="table table-striped">
                <thread></thread>
                <tr>
                    <td>Username:</td>
                    <td>
                     <input  type="text" 
                            value="{{user['username']}}" 
                            name="username"/>
                            <font color="red">{{addhelp['username']}}</font>
                    </td>
                </tr>
                <tr>
                    <td>Role:</td>
                    <td>
                      <select           name="role" id="role">
                            <option     name="role" 
                                        value="admin">admin</option>
                            <option     name="role" 
                                        value="read">read</option>
                    </td>
                </tr>
                <tr>
                     <td>Fullname:</td>
                    <td>
                        <input    type="text" 
                                  name="fullname" 
                                  value="{{user['fullname']}}">
                                  <font color="red">{{addhelp['fullname']}}</font>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                     <input   type="text" 
                            name="email" 
                            value="{{user['email']}}">
                            <font color="red">{{addhelp['email']}}</font>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                         <input type="text" 
                                name="password" 
                                value="{{user['password']}}">
                                <font color="red">{{addhelp['password']}}</font>
		            </td>
                </tr>
                </table>
		        <table>
                <tr>
                    <td>
                        <button    class="btn btn-primary" 
                                   type="submit" 
                                   value="add" 
                                   class="btn btn-primary">Add</button>
                   </div> <!-- the mb-3 mt-3 -->
                </form>

                <form   action="{{url_for('users_blueprint_routes.index')}}" 
                        method="GET">
                        <div class="mb-3 mt-3">
                             <button type="submit" v
                                     value="Users" 
                                     class="btn btn-primary">
                                    User Management
                            </button>
                        </div>
                </form> 
</div> <!-- container -->
{% endblock %}

