{% extends "base.html" %}
{% block content  %}
<div class="container">
{% include "title.html" %}
    <h2>{{ header }} </h3>
        <form class="was-validated" action={{url_for("users_blueprint_routes.submituser")}} method="POST">
            <div class="row mb-3 mt-3">
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input  required 
                                type="text" 
                                class="form-control"
                                value="{{user['username']}}" 
                                name="username"/>
                                <font color="red">{{addhelp['username']}}</font>
                        <label for="username">Username</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field</div>
                    </div> <!-- form-floating-->
                </div> <!--  col -->
            </div> <!-- row -->
            <div class="row mb-3 mt-3">
                <div class="col-sm-2">
                        Role
                        <select   class="form-select"      name="role" id="role">
                            <option     name="role" 
                                        value="admin">admin</option>
                            <option     name="role" 
                                        value="read">read</option>
                                        </select>
                </div> <!--  col -->
            </div> <!-- row -->
             <div class="row mb-3 mt-3">
                <div class="col-sm-4">
                        <div class="form-floating">
                                <input  required    
                                        type="text" 
                                        class="form-control"
                                        name="fullname" 
                                        value="{{user['fullname']}}"/>
                                        <font color="red">{{addhelp['fullname']}}</font>
                                <label for="fullname">Full Name</label>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                         </div> <!-- form-floating-->
                </div> <!--  col -->
            </div> <!-- rows -->
            <div class="row mb-3 mt-3">
                <div class="col-sm-4">
                        <div class="form-floating">
                                <input  required
                                        type="email" 
                                        class="form-control"
                                        name="email" 
                                        value="{{user['email']}}"/>
                                         <font color="red">{{addhelp['email']}}</font>
                                    <label for="email">Email</label>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field</div>
                        </div> <!-- form-floating-->
                </div> <!--  col -->
            </div> <!-- rows -->
            <div class="row mb-3 mt-3">
                <div class="col-sm-4">
                        <div class="form-floating">
                                 <input required 
                                        type="password" 
                                        class="form-control"
                                        name="password" 
                                        value="{{user['password']}}"/>
                                        <font color="red">{{addhelp['password']}}</font>
                                    <label for="password">Password</label>
                                    <div class="invalid-feedback">Password more than 6 characters</div>
                         </div> <!-- form-floating-->
                </div> <!--  col -->
            </div> <!-- rows -->
            <div class="row mb-3 mt-3">
                <div class="col-sm-4">
                        <button    class="btn btn-primary" 
                                   type="submit" 
                                   class="form-control"
                                   value="add" 
                                   class="btn btn-primary">Add</button>               
                   </div> <!-- col -->
            </div> <!-- row -->
         </form>

        <form   action="{{url_for('users_blueprint_routes.index')}}" 
                        method="GET">
                        <div class="mb-3 mt-3">
                             <button type="submit" v
                                     value="Users" 
                                     class="btn btn-primary">
                                    User Management
                            </button>
                        </div>
        </form> 
</div> <!-- container -->
{% endblock %}

